판다스 :  정형 데이터를 다루기 위한 라이브러리 
1차원 데이터 : 시리즈(Series)
2차원  테이블 데이터 : 데이터프레임(DataFrame)

In [2]:
import pandas as pd

# 데이터프레임 생성(딕셔너리 형태로 데이터 입력)
df = pd.DataFrame({'name': ['김지훈', '이유진', '박동현', '김민지'], 'math':[50, 60, 100, 20], 'eng':[90, 80, 60, 70]})
df

  name  math  eng
0  김지훈    50   90
1  이유진    60   80
2  박동현   100   60
3  김민지    20   70

In [3]:
df['math'] # 수학 점수만 출력 - 시리즈 형태로 출력

0     50
1     60
2    100
3     20
Name: math, dtype: int64

In [7]:
math_avg = sum(df['math']) / len(df['math'])  # 수학 점수의 평균 계산
print(math_avg)
eng_avg = sum(df['eng']) / len(df['eng'])  # 영어 점수의 평균 계산
print(eng_avg)

57.5
75.0