In [1]:
import pandas as pd
df = pd.read_csv('./datas/exam.csv', header=0)
print(df.head())  # 처음 5개의 행을 출력

print(df.head(10))  # 처음 10개의 행을 출력

   no  nclass  hours  extra  math  eng  science  tot  test
0  11       1     17      6    37   70       44  151  Pass
1  12       1     30      7    60   80       70  210  Pass
2  13       1     19      7    41   71       46  158  Pass
3  14       1     14      4    34   67       40  141  Fail
4  15       1     27      4    82   78       73  233  Pass
   no  nclass  hours  extra  math  eng  science  tot  test
0  11       1     17      6    37   70       44  151  Pass
1  12       1     30      7    60   80       70  210  Pass
2  13       1     19      7    41   71       46  158  Pass
3  14       1     14      4    34   67       40  141  Fail
4  15       1     27      4    82   78       73  233  Pass
5  21       2     13      4    34   67       38  139  Fail
6  22       2     35      9    84   83       85  252  Pass
7  23       2     21      7    45   70       49  164  Pass
8  24       2     16      8    34   69       42  145  Fail
9  25       2     31      8    43   69       45  157  Fail

In [2]:
print(df.tail())  # 마지막 5개의 행을 출력

    no  nclass  hours  extra  math  eng  science  tot  test
20  51       5     40      9    85   86       90  261  Pass
21  52       5     39     10    87   85       87  259  Pass
22  53       5     32      7    76   82       78  236  Pass
23  54       5     27      5    51   78       60  189  Pass
24  55       5     32      6    44   67       50  161  Fail

In [3]:
print(df.sample())  # 랜덤하게 1개의 행을 출력

print(df.sample(3))  # 랜덤하게 3개의 행을 출력

    no  nclass  hours  extra  math  eng  science  tot  test
15  41       4     25      5    49   75       59  183  Pass
    no  nclass  hours  extra  math  eng  science  tot  test
1   12       1     30      7    60   80       70  210  Pass
11  32       3     15      8    35   68       41  144  Fail
13  34       3     11      5    34   66       37  137  Fail

In [4]:
print(df.shape)  # 행과 열의 개수를 출력

(25, 9)

In [5]:
print(df.info()) # 데이터프레임의 정보를 출력

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   no       25 non-null     int64
 1   nclass   25 non-null     int64
 2   hours    25 non-null     int64
 3   extra    25 non-null     int64
 4   math     25 non-null     int64
 5   eng      25 non-null     int64
 6   science  25 non-null     int64
 7   tot      25 non-null     int64
 8   test     25 non-null     object
dtypes: int64(8), object(1)
memory usage: 1.9+ KB
None

In [6]:
print(df.describe())  # 데이터프레임의 통계 정보를 출력

              no     nclass      hours      extra       math        eng  \
count  25.000000  25.000000  25.000000  25.000000  25.000000  25.000000
mean   33.000000   3.000000  24.400000   6.240000  53.560000  73.840000
std    14.505746   1.443376   9.513149   2.184796  19.887349   6.593431
min    11.000000   1.000000   9.000000   1.000000  33.000000  65.000000
25%    22.000000   2.000000  16.000000   5.000000  35.000000  68.000000
50%    33.000000   3.000000  25.000000   7.000000  46.000000  71.000000
75%    44.000000   4.000000  32.000000   8.000000  76.000000  80.000000
max    55.000000   5.000000  40.000000  10.000000  87.000000  86.000000

         science         tot
count  25.000000   25.000000
mean   58.520000  185.920000
std    19.205294   44.997148
min    35.000000  135.000000
25%    42.000000  145.000000
50%    55.000000  172.000000
75%    73.000000  233.000000
max    97.000000  261.000000

In [7]:
print(df.describe(include='all'))  # 데이터프레임의 통계 정보를 출력

               no     nclass      hours      extra       math        eng  \
count   25.000000  25.000000  25.000000  25.000000  25.000000  25.000000
unique        NaN        NaN        NaN        NaN        NaN        NaN
top           NaN        NaN        NaN        NaN        NaN        NaN
freq          NaN        NaN        NaN        NaN        NaN        NaN
mean    33.000000   3.000000  24.400000   6.240000  53.560000  73.840000
std     14.505746   1.443376   9.513149   2.184796  19.887349   6.593431
min     11.000000   1.000000   9.000000   1.000000  33.000000  65.000000
25%     22.000000   2.000000  16.000000   5.000000  35.000000  68.000000
50%     33.000000   3.000000  25.000000   7.000000  46.000000  71.000000
75%     44.000000   4.000000  32.000000   8.000000  76.000000  80.000000
max     55.000000   5.000000  40.000000  10.000000  87.000000  86.000000

          science         tot  test
count   25.000000   25.000000    25
unique        NaN         NaN     2
top           NaN         NaN  Pass
freq          NaN         NaN    16
mean    58.520000  185.920000   NaN
std     19.205294   44.997148   NaN
min     35.000000  135.000000   NaN
25%     42.000000  145.000000   NaN
50%     55.000000  172.000000   NaN
75%     73.000000  233.000000   NaN
max     97.000000  261.000000   NaN